---
layout: blog
title: Blog
permalink: /blog/
subtitle: What I'm writing
---

<div class="container mtb">
    <div class="row">
            <!-- <div class="hline"></div> -->

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['blog'] %}
                <!-- //Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/posts/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}</csmall></p>
                {{ post.excerpt }}

                <div class="postMeta-previewFooterReadMore">
                <a class="button--chromeless button--smaller" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                </div>

                <!-- <div class="hline"></div> -->
                <hr>

                <div class="spacing"></div>
            {% endfor %}

        </div><!-- //col-lg-8 --> 

        {% include sidebar.html %}

    </div><!-- <! //row --> 
</div><!-- <! //container --> 