<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <br>
                <br>
                <h1>Dongmei Hu</h1>
                <h3>What I talk about when I talk about</h3>
                <h3>Design, Art and Engineering</h3>	
                <br>
                <br>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->