<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/travel.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Take a break. read and research on UX/UI.</h4>
            </div>
            <div class="timeline-body">
              <p>After leaving my previous company, I spent a few months traveling and volunteering. While taking the time to cross off things on my bucket list, I did reading and research on UX and UI design, and started by figuring out my strength and weakness.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/plan.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Make S.M.A.R.T goals: my design study plan</h4>
            </div>
            <div class="timeline-body">
              <p>With <a href="https://medium.com/@karenxcheng/how-to-get-a-job-as-a-designer-without-going-to-design-school-bad8cdb67068#.zq647oii3">advice from Karen</a>, who taught herself design in 6 months and landed a job at a startup, I started to execute my own study plan. </p> 
              <p><a href="https://www.linkedin.com/pulse/20140702131658-43610144-how-to-become-a-ux-ui-designer-without-design-school">This post</a> by a product designer at Pinterest helped me fine tune my study on UX/UI.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/visual.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Start with the foundation: Sketching and Graphic Design</h4>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Draw 1 hour everyday to practice my sketching. </li>
                <li> Take <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design/">the course</a> on Coursera to build a foundation on color, typography and designing by grid. Read <a href="https://www.smashingmagazine.com/">smash magazine</a> to keep up with the latest trend and techniques.</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/uxui.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Learn and Practise: UX and UI</h4>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Take <a href="https://www.coursera.org/learn/user-research/home/welcome">the course</a> on Coursera to learn methodology on user experience research and prototyping. </li>               
                <li> Learn the <a href="http://www.lynda.com/Dreamweaver-CS5-training/Interaction-Design-Fundamentals/82822-2.html">basic</a> and <a href="http://www.lynda.com/Web-Interaction-Design-tutorials/Applied-Interaction-Design/110712-2.html">advanced techniques</a> in Interaction Design on Lynda.com to make effective, engaging and interactive design.</li>
                <li> <a href="http://127.0.0.1:4000/portfolio/">Re-designing</A> existing websites and mobile apps. Practice is the best way to learn design. 

            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/tools.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Design with the best tools</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/code.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Design with coding: HTML, CSS and JavaScrip</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><img class="block" src="/assets/img/timeline/learn.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Keep Learning</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
    </ul>
</div>