<div class="container">
    <div class="page-header centered">

      <div>
        <h4>The Journey: How I Taught Myself Design</h4>
      </div>
      <div>
        <img class="block icon-arrow" src="/assets/img/timeline/arrow.svg">
      </div>

    </div>
    <section id="timeline" class="cd-container">
        <div class="timeline-inverted">
          <div class="timeline-badge img-travel"><img class="block" src="/assets/img/timeline/travel.svg"></div>
          <!-- timeline-badge -->

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Travel. Read. Think.</h3>
            </div>
            <div class="timeline-body">
              <p>After leaving my previous company, I spent a few months traveling and volunteering. While taking the time to cross off things on my bucket list, I started my journey to design by organizing and analyzing resources on UX/UI design that have been collected earlier.</p>
            </div>
          </div> <!-- timeline-panel -->

        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-plan"><img class="block" src="/assets/img/timeline/plan.svg"></div> <!-- timeline-badge -->

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Make S.M.A.R.T Goals. Execute My Study Plan.</h3>
            </div>
            <div class="timeline-body">
              <p>With <a href="https://medium.com/@karenxcheng/how-to-get-a-job-as-a-designer-without-going-to-design-school-bad8cdb67068#.zq647oii3" target="_blank">advice from Karen</a>, who taught herself design in 6 months and landed a job at a startup, I started to execute my own study plan. </p> 
              <p><a href="https://www.linkedin.com/pulse/20140702131658-43610144-how-to-become-a-ux-ui-designer-without-design-school" target="_blank">This post</a> by a product designer at Pinterest helped me fine tune my study on UX/UI.</p>
            </div>
          </div><!-- timeline-panel -->
        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-visual"><img class="block" src="/assets/img/timeline/visual.svg"></div>
          <!-- timeline-badge -->

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Start With The Foundation: Graphic Design</h3>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Drew 1 hour everyday to practice my sketching. </li>
                <li> Took <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design/" target="_blank">the course</a> on Coursera to build a foundation on color, typography and grid design.</li>
                <li> Read <a href="https://www.smashingmagazine.com/" target="_blank">smashing magazine</a> to keep up with the latest trend and techniques.</li>
              </ul>
            </div>
          </div><!-- timeline-panel -->
        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-uxui"><img class="block" src="/assets/img/timeline/uxui.svg"></div>
          <!-- timeline-badge -->

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Learn By Practice: UX/UI and Interaction Design</h3>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Started with <a href="http://www.amazon.com/gp/product/0321965515?ie=UTF8&camp=1789&creativeASIN=0321965515&linkCode=xm2&tag=karenxdesign-20" target="_blank">Don't Make Me Think!</a> to get the right mindset in good user experience practices.</li>
                <li> Took <a href="https://www.coursera.org/learn/user-research/home/welcome" target="_blank">the course</a> on Coursera to learn methodology on user experience research and prototyping. </li>   
                <li> Learnt the <a href="http://www.lynda.com/Dreamweaver-CS5-training/Interaction-Design-Fundamentals/82822-2.html" target="_blank">basic</a> and <a href="http://www.lynda.com/Web-Interaction-Design-tutorials/Applied-Interaction-Design/110712-2.html" target="_blank">advanced techniques</a> in Interaction Design on Lynda.com to make effective, engaging and interactive design.</li>
                <li> Re-designed existing websites and mobile apps, and built <a href="http://127.0.0.1:4000/portfolio/" target="_blank">my portfolio</a>. Practice is the best way to learn design.</li>
              </ul>
            </div>
          </div><!-- timeline-panel -->
        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-tools"><img class="block" src="/assets/img/timeline/tools.svg"></div>
          <!-- timeline-badge -->
          
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Learn From The Professionals</h3>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Went to <a href="https://dribbble.com/" target="_blank">Dribbble</a> for inspiration on some of the best designers.</li>
                <li> Read through <a href="https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/" target="_blank">iOS Human Interface Guidelines</a> and <a href="https://www.google.com/design/spec/material-design/introduction.html" target="_blank">Google Material Design</a> for mobile design practice. </li>    
                <li> Met up with designers from <a href="http://www.uxsg.org/" target="_blank">UXSG</a> and learn from the fellow professionals.</li>
              </ul>
            </div>
          </div><!-- timeline-panel -->
        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-code"><img class="block" src="/assets/img/timeline/code.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Design With Codes: HTML, CSS and JavaScript</h3>
            </div>
            <div class="timeline-body">
              <ul>
                <li> Learnt <a href="https://www.coursera.org/learn/website-coding" target="_blank">front-end website design </a> on Coursera, and it was amazing to see the colorful codes being converted into responsive website.</li>
                <li> Built a portfolio website on <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, and shared <a href="https://github.com/dongmei/apesportfolio" target="_blank">the template and source codes</a> on GitHub. </li>
              </ul>
            </div>
          </div>
        </div> <!-- timeline-inverted -->

        <div class="timeline-inverted">
          <div class="timeline-badge img-learn"><img class="block" src="/assets/img/timeline/learn.svg"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Horn My Skills</h3>
            </div>
            <div class="timeline-body">
              <p>Apart from drawing and designing, I spend 1 to 3 hours daily on reading to keep my skills sharp.</p>
              <ul>
                <li> Follow design blogs and articles on <a href="https://medium.com/@Meii" target="_blank">Medium</a>, <a href="https://design.google.com/"> Google Design</a>, <a href="https://www.thinkwithgoogle.com/" target="_blank"> Think with Google</a> and <a href="https://www.smashingmagazine.com/" target="_blank">smashing magazine</a> and many more.</li>
                <li> Get design inspiration on <a href="https://dribbble.com" target="_blank">Dribble</a>, <a href="https://www.behance.net/" target="_blank"> Behance</a> and <a href="http://littlebigdetails.com/" target="_blank">Little Big Details</a>. </li>
                <li> Read <a href="https://whitneyhess.com/blog/2009/06/30/so-you-wanna-be-a-user-experience-designer-step-1-resources/" target="_blank">books on design</a>. Although this reading list was made 7 years ago, it is still quite relevant today.</li>
                <li> Keep writing weekly. </li>
              </ul>
            </div>
          </div>
        </div> <!-- timeline-inverted -->


        <div class="timeline-inverted">
          <div class="timeline-badge img-infinity"><img class="block" src="/assets/img/timeline/infinity.svg"></div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title timeline-title-last">Keep Learning And Have Fun</h3>
            </div>
          </div>
        </div>
    </section> <!-- end of section -->
</div>